services:
  dnscrypt-proxy:
    image: klutchell/dnscrypt-proxy:latest
    hostname: dnscrypt-proxy
    restart: unless-stopped
    networks:
      - dokploy-network
    volumes:
      - ./dnscrypt-proxy.toml:/config/dnscrypt-proxy.toml:ro
    expose:
      - "53"

  doh-server:
    image: satishweb/doh-server:latest
    hostname: doh-server
    restart: unless-stopped
    depends_on:
      - dnscrypt-proxy
    networks:
      - dokploy-network
    user: "0"
    env_file:
      - .env
    volumes:
      - ./doh-server.conf:/doh-server.conf
      - ./app-config:/app-config
      - /etc/dokploy/traefik/dynamic:/traefik-dynamic
      - ./.env:/env-file:ro
    command: ["/server/doh-server", "-conf", "/doh-server.conf"]
    expose:
      - "8053"

networks:
  dokploy-network:
    external: true
