services:
  doh-server:
    image: satishweb/doh-server:latest
    hostname: doh-server
    restart: unless-stopped
    networks:
      - dokploy-network
    user: "0"
    env_file:
      - .env
    volumes:
      - ./doh-server.conf:/doh-server.conf
      - ./app-config:/app-config
      - /etc/dokploy/traefik/dynamic:/traefik-dynamic
      - ./.env:/env-file:ro
    command: ["/server/doh-server", "-conf", "/doh-server.conf"]
    expose:
      - "8053"

networks:
  dokploy-network:
    external: true
